<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>StubHub</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="fragment" content="!">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <link rel="stylesheet" href="/bower_components/foundation/css/normalize.css">
    <link rel="stylesheet" href="/bower_components/foundation/css/foundation.css">
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/home.css">
    <!-- endbuild -->

  </head>
  <body ng-app="ngBrxApp">
    <!--[if lt IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header contain-to-grid sticky" ng-controller="NavCtrl">
      <nav class="top-bar docs-bar hide-for-small" data-topbar role="navigation" data-options="">
        <ul class="title-area">
          <li class="name">
            <a href="/" class="logo" title="stubhub">StubHub</a>
          </li>
        </ul>

        <section class="top-bar-section">
          <ul>
            <li ng-repeat="c in category">
              <a ng-href="{{c.url}}">{{ c.nameKey | translate}}</a>
            </li>
          </ul>
          <ul class="right">
            <li class="has-dropdown not-click">
              <a href="">{{ 'nav_language' | translate }}</a>
              <ul class="dropdown">
                <li ng-repeat="l in langs">
                  <a ng-click="switchLang(l.value)">{{l.name}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>
    </div>

    <div role="main" class="scroll-container">
      <div class="row main-view" ng-view=""></div>

      <div class="footer">
        <p class="copyright">© 2014 Haisheng Wu All rights reserved.</p>
      </div>

    </div>


    <!-- build:js(.) /scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="/bower_components/es5-shim/es5-shim.js"></script>
    <script src="/bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) /scripts/vendor.js -->
    <script src="/bower_components/jquery/jquery.js"></script>
    <script src="/bower_components/lodash/dist/lodash.js"></script>
    <script src="/bower_components/foundation/js/foundation.js"></script>
    <script src="/bower_components/messageformat/messageformat.js"></script> <!-- for angular-translate -->
    <script src="/bower_components/messageformat/locale/zh.js"></script>
    <script src="/bower_components/messageformat/locale/de.js"></script>
    <!-- endbuild -->

    <!-- build:js(.) /scripts/bundle-angular.js -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-local-storage/angular-local-storage.js"></script>
    <script src="/bower_components/angular-translate/angular-translate.js"></script>
    <script src="/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="/bower_components/angular-translate-interpolation-messageformat/angular-translate-interpolation-messageformat.js"></script>

    <!-- endbuild -->

    <!--
    Dynamic add i18n library.
    <script src="/bower_components/angular-i18n/angular-locale_zh-cn.js"></script>
    -->

        <!-- build:js({.tmp,app}) /scripts/scripts.js -->
        <script src="/scripts/stubhub.js"></script>
        <script src="/scripts/app.js"></script>
        <script src="/scripts/controllers/main.js"></script>
        <script src="/scripts/controllers/about.js"></script>
        <script src="/scripts/controllers/search.js"></script>
        <script src="/scripts/services/api/search.js"></script>
        <script src="/scripts/services/api/event.js"></script>
        <script src="/scripts/directives/shpagination.js"></script>
        <script src="/scripts/services/constantservice.js"></script>
        <script src="/scripts/controllers/nav.js"></script>
        <script src="/scripts/controllers/event.js"></script>
        <script src="/scripts/controllers/category.js"></script>
        <!-- endbuild -->
</body>
</html>
