<h2>{{ 'search_view_title' | translate }}</h2>

<p ng-if="data.numFound >= 0">
  {{ 'ticket_found' | translate:"{NUM: data.numFound}" }}
</p>

<div ng-if="data">

  <ul class="search-event-list">
    <li ng-repeat="event in data.events">
      <a ng-href="http://www.stubhub.com/{{event.eventUrl}}">
        <p>
          <img ng-src="{{event.imageUrl}}" width="50" height="25" />

          {{event.name}}, {{event.ticketInfo.minPrice | currency}}, {{event.ticketInfo.totalTickets}} tickets, {{event.eventDateLocal | date: 'EEE, MMM dd, yyyy'}}
        </p>
      </a>
    </li>
  </ul>

  <div sh-pagination total-count="data.numFound"></div>

</div>
