<h2>This is the search view.</h2>

<p>
  <ng-pluralize count="data.numFound"
                when="{'0': 'No tickets found.',
                'one': '1 ticket found.',
                'other': '{} tickets found.'}">
  </ng-pluralize>
</p>

<div ng-if="data.numFound">

  <ul class="search-event-list">
    <li ng-repeat="event in data.events">
      <a ng-href="http://www.stubhub.com/{{event.eventUrl}}">
        <p>
          <!--
          -->
          <img ng-src="{{event.imageUrl}}" width="50" height="25" />

          {{event.name}}, {{event.ticketInfo.minPrice | currency}}, {{event.ticketInfo.totalTickets}} tickets, {{event.eventDateLocal | date: 'EEE, MMM dd, yyyy'}}
        </p>
      </a>
    </li>
  </ul>

  <div sh-pagination total-count="data.numFound"></div>

</div>
